body{
    font-family: 'Roboto', sans-serif;
}
.navigation {
    background: #2c8e69;
    width: 95%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.golfBox{
    display: flex;
}

.score{
    display: flex;
}
.scoreInput{
    width: 35px;
}
.inScore{
    width: 35px;
}
.outScore{
    width: 35px;
}
.totScore{
    width: 35px;
}
.allPlayerInfo{
    display: flex;
}
.playerInfo{
    display: flex;
    width: 120px;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.courseContainer{
    border: 1px solid #dadfea;
    padding: 4px;
}
.player{
    display: flex;
    flex-direction: column;
}

/* media breakpoint for Mobile/Tablet */
@media only screen and (min-width: 200px) {
    body {
        /*display: none;*/
    }
}
@media only screen and (min-width: 600px) {
    nav{
        display: flex;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
[class*= "col-"]{
    width: 100%;
}